# git submodule add https://github.com/chaconinc/DbConnector
# git mv A B to change the name of submodules


[submodule "ClassJS"]
	path = ClassJS
	url = https://github.com/ReRand/LuaClassJS
[submodule "RbxCameraShaker"]
	path = CameraShaker
	url = https://github.com/Sleitnick/RbxCameraShaker
