# git submodule add https://github.com/chaconinc/DbConnector
# git mv A B to change the name of submodules


[submodule "src/Dependencies/RbxCameraShaker"]
	path = src/Dependencies/RbxCameraShaker
	url = https://github.com/Sleitnick/RbxCameraShaker
[submodule "src/Dependencies/ProfileStore"]
	path = src/Dependencies/ProfileStore
	url = https://github.com/MadStudioRoblox/ProfileStore
[submodule "src/Dependencies/LemonSignal"]
	path = src/Dependencies/LemonSignal
	url = https://github.com/Data-Oriented-House/LemonSignal
[submodule "src/Dependencies/ByteNet"]
	path = src/Dependencies/ByteNet
	url = https://github.com/ffrostfall/ByteNet
